@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    text-align: center;
    color: white;
    font-family: 'Poppins';
}

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}



input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  